USE [master]
GO
/****** Object:  Database [PadelDB_Bertorello]    Script Date: 16/9/2026 18:35:42 ******/
CREATE DATABASE [PadelDB_Bertorello]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PadelDB_Bertorello', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PadelDB_Bertorello.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'PadelDB_Bertorello_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PadelDB_Bertorello_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PadelDB_Bertorello].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PadelDB_Bertorello]
GO
/****** Object:  Table [dbo].[Canchas]    Script Date: 16/9/2026 18:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canchas](
	[IdCancha] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioPorHora] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Canchas] PRIMARY KEY CLUSTERED 
(
	[IdCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 16/9/2026 18:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdCancha] [int] NOT NULL,
	[Cliente] [nvarchar](100) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [nvarchar](5) NOT NULL,
	[Pagada] [bit] NOT NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Canchas] ON 

INSERT [dbo].[Canchas] ([IdCancha], [Nombre], [PrecioPorHora]) VALUES (1, N'Cancha 1 - Cristal', CAST(28000.00 AS Decimal(10, 2)))
INSERT [dbo].[Canchas] ([IdCancha], [Nombre], [PrecioPorHora]) VALUES (2, N'Cancha 2 - Panorámica', CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[Canchas] ([IdCancha], [Nombre], [PrecioPorHora]) VALUES (3, N'Cancha 3 - Césped azul', CAST(22000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Canchas] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([IdReserva], [IdCancha], [Cliente], [Fecha], [Hora], [Pagada]) VALUES (1, 1, N'Martín López', CAST(N'2026-09-16' AS Date), N'18:00', 1)
INSERT [dbo].[Reservas] ([IdReserva], [IdCancha], [Cliente], [Fecha], [Hora], [Pagada]) VALUES (2, 1, N'Carolina Gómez', CAST(N'2026-09-16' AS Date), N'19:00', 0)
INSERT [dbo].[Reservas] ([IdReserva], [IdCancha], [Cliente], [Fecha], [Hora], [Pagada]) VALUES (3, 2, N'Federico Ruiz', CAST(N'2026-09-16' AS Date), N'20:00', 1)
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Reservas_Cancha_Fecha_Hora]    Script Date: 16/9/2026 18:35:42 ******/
ALTER TABLE [dbo].[Reservas] ADD  CONSTRAINT [UQ_Reservas_Cancha_Fecha_Hora] UNIQUE NONCLUSTERED 
(
	[IdCancha] ASC,
	[Fecha] ASC,
	[Hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservas] ADD  CONSTRAINT [DF_Reservas_Pagada]  DEFAULT ((0)) FOR [Pagada]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Canchas] FOREIGN KEY([IdCancha])
REFERENCES [dbo].[Canchas] ([IdCancha])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Canchas]
GO
ALTER TABLE [dbo].[Canchas]  WITH CHECK ADD  CONSTRAINT [CK_Canchas_PrecioPorHora] CHECK  (([PrecioPorHora]>(0)))
GO
ALTER TABLE [dbo].[Canchas] CHECK CONSTRAINT [CK_Canchas_PrecioPorHora]
GO
/****** Object:  StoredProcedure [dbo].[usp_CrearReserva]    Script Date: 16/9/2026 18:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CrearReserva]
    @IdCancha INT,
    @Cliente NVARCHAR(100),
    @Fecha DATE,
    @Hora NVARCHAR(5)
AS
BEGIN
    IF @Cliente IS NULL OR LTRIM(RTRIM(@Cliente)) = ''
        THROW 50003, 'El cliente no puede estar vacío.', 1;

    IF NOT EXISTS (
        SELECT 1
        FROM Canchas
        WHERE IdCancha = @IdCancha
    )
        THROW 50002, 'La cancha indicada no existe.', 1;

    IF EXISTS (
        SELECT 1
        FROM Reservas
        WHERE IdCancha = @IdCancha
          AND Fecha = @Fecha
          AND Hora = @Hora
    )
        THROW 50011, 'El horario seleccionado ya está reservado para esta cancha.', 1;

    INSERT INTO Reservas (
        IdCancha,
        Cliente,
        Fecha,
        Hora
    )
    VALUES (
        @IdCancha,
        LTRIM(RTRIM(@Cliente)),
        @Fecha,
        @Hora
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdReserva;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarCanchas]    Script Date: 16/9/2026 18:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarCanchas]
AS
BEGIN
    SELECT
        IdCancha,
        Nombre,
        PrecioPorHora
    FROM Canchas;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarReservas]    Script Date: 16/9/2026 18:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarReservas]
AS
BEGIN
    SELECT
        r.IdReserva,
        r.IdCancha,
        c.Nombre AS Cancha,
        r.Cliente,
        r.Fecha,
        r.Hora,
        r.Pagada,
        c.PrecioPorHora
    FROM Reservas r
    INNER JOIN Canchas c
        ON r.IdCancha = c.IdCancha
    ORDER BY r.Fecha, r.Hora;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RecaudacionPorCancha]    Script Date: 16/9/2026 18:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RecaudacionPorCancha]
AS
BEGIN
    SELECT
        c.IdCancha,
        c.Nombre,
        COUNT(r.IdReserva) AS CantidadReservas,
        SUM(
            CASE
                WHEN r.Pagada = 1 THEN c.PrecioPorHora
                ELSE 0
            END
        ) AS TotalCobrado,
        SUM(
            CASE
                WHEN r.Pagada = 0 THEN c.PrecioPorHora
                ELSE 0
            END
        ) AS TotalPendiente
    FROM Canchas c
    LEFT JOIN Reservas r
        ON c.IdCancha = r.IdCancha
    GROUP BY
        c.IdCancha,
        c.Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarPago]    Script Date: 16/9/2026 18:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RegistrarPago]
    @IdReserva INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM Reservas
        WHERE IdReserva = @IdReserva
    )
        THROW 50002, 'La reserva indicada no existe.', 1;

    IF EXISTS (
        SELECT 1
        FROM Reservas
        WHERE IdReserva = @IdReserva
          AND Pagada = 1
    )
        THROW 50008, 'La reserva ya se encuentra pagada.', 1;

    UPDATE Reservas
    SET Pagada = 1
    WHERE IdReserva = @IdReserva;
END;
GO
USE [master]
GO
